@import "../css-config/mixins.scss";

.options{
    
    
    .option{
        display: flex;
        align-items: start;
        gap: 8px;
        border: 1px solid #3aaf9f;
        padding: 8px 20px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        
        @include md{
            font-size: 18px;
        }
        
        &:hover{
            background-color: #3aaf9f76;
        }
    }
    .option.selected{
        border: 1px solid #3aaf9f;
        padding: 8px 20px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
       background-color: #3aaf9fb9;
    }

}