@import "../css-config/mixins.scss";

.single_question{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 25px 40px 25px 40px;
    gap: 10px;
    max-width: 800px;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(33,33,33,1);
    -moz-box-shadow: 5px 5px 10px 1px rgba(33,33,33,1);
    box-shadow: 5px 5px 10px 1px rgba(33,33,33,1);
    border-radius: 8px;
    z-index: 5;
    
    .question_box{
        display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 25px;
        
        h2{
            color: #242424;
            text-transform: uppercase;
            font-family: 'Rampart One', cursive;
            letter-spacing: 0.8px;
            font-size: 16px;
            
            @include md{
                font-size: 24px;
                
            }
        }
        
        .options{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    .btns{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }
}